<div class="bg-theme text-white pt-4 pb-4 ps-5">
  <div class="container">
    <h1>Action</h1>
    <p>Mauris sodales justo metus, ac ultricies nibh vulputate fermentum.</p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 mb-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
