<div class="container">
  <div class="navbar navbar-expand justify-content-center ">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item ms-3">
        <a class="nav-link" href="#">Action</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="#">Comedy</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="#">Drama</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="#">Sci-fi</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="#">Adventure</a>
      </li>
    </ul>
  </div>
</div>
