<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow">
        <img
          src="https://images.pexels.com/photos/4936294/pexels-photo-4936294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Post image"
          class="card-img-top img-fluid"
        />
        <div class="card-body ">
          <small class="bg-light text-danger text-center ms-3">Action</small>
          <small class="bg-light text-success text-center ms-3">Featured</small>
          <small class="bg-light text-info text-center ms-3">
            LAST UPDATED - NOV 25, 2023</small
          >

          <h1 class="mt-3 mb-3">Title of the post</h1>          
          <p>
            Sed accumsan nulla justo, vitae fringilla ante euismod at. Curabitur
            rhoncus quis leo in interdum. Aenean quis ultricies sapien. Fusce
            non hendrerit turpis, ac volutpat arcu. In tristique ut ipsum eu
            blandit. Suspendisse posuere diam id nibh dignissim, vitae
            sollicitudin lacus auctor. Phasellus sapien metus, lobortis et nisi
            eget, lacinia faucibus turpis. Vestibulum quis velit sit amet risus
            efficitur varius a a metus. Morbi eu massa blandit, mattis lectus
            eu, luctus est. Vestibulum molestie molestie dui, non eleifend
            tortor congue mattis. Nulla at auctor nisi. Curabitur semper, lectus
            non tincidunt molestie, ligula nibh ullamcorper nibh, in tincidunt
            lorem nisi eu sem. Donec vitae iaculis enim, sit amet lobortis enim.
            Suspendisse potenti. In congue elementum velit, in sodales nunc
            imperdiet in. Vivamus et semper dolor, id ullamcorper neque. Quisque
            faucibus consectetur sapien id luctus. Nam a diam lobortis mi
            scelerisque pharetra et eget turpis. Fusce dictum ante vel hendrerit
            faucibus. Praesent rhoncus, justo eu eleifend porttitor, magna massa
            euismod nisi, vel congue quam ipsum in diam. In egestas, mi id
            dignissim laoreet, dolor nunc lacinia ex, a semper enim quam ac
            lorem. Nunc sit amet nisi tincidunt, fermentum arcu vitae, commodo
            nisl. Aenean bibendum, risus a faucibus tincidunt, sapien enim
            semper sem, tincidunt placerat tellus velit sed urna. Nam sapien
            est, pharetra mattis risus convallis, euismod hendrerit mauris. Ut
            facilisis tempor orci, ut maximus turpis pretium vitae. Duis egestas
            vitae turpis sit amet varius. Nam massa nulla, faucibus eget
            porttitor at, ullamcorper ut est. Donec vitae tellus venenatis,
            tristique lacus ut, pulvinar leo. Interdum et malesuada fames ac
            ante ipsum primis in faucibus. Aenean venenatis semper felis eget
            lobortis. Suspendisse malesuada nisl a massa volutpat, eu congue
            erat dignissim. Nunc faucibus pharetra nulla. Donec fringilla nisi
            vel lectus tempor ultricies. Phasellus suscipit vitae turpis iaculis
            mattis. In quis pulvinar felis. Vivamus et enim cursus dui sodales
            egestas vel sit amet orci. Vestibulum malesuada nisl est, quis
            fermentum velit mollis id. Aenean sit amet nisi id mauris tincidunt
            suscipit. Ut a dictum lectus. Integer hendrerit finibus ante nec
            finibus.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</div>
