<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          Praesent vitae turpis in ante aliquam gravida fermentum at augue.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image6"
          [cardTitle]="title6"
          [cardDescription]="description6"
          [lastUpdated]="lastUpdated6"
        ></app-post-card>
      </div>
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image7"
          [cardTitle]="title7"
          [cardDescription]="description7"
          [lastUpdated]="lastUpdated7"
        ></app-post-card>
      </div>
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image8"
          [cardTitle]="title8"
          [cardDescription]="description8"
          [lastUpdated]="lastUpdated8"
        ></app-post-card>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Suspendisse ultrices ligula non lorem convallis placerat.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4 mt-3 d-flex justify-content-center">
        <app-post-card        
        [imageUrl]="image1"
        [cardTitle]="title1"
        [cardDescription]="description1"
        [lastUpdated]="lastUpdated1"
        ></app-post-card>
      </div>
      <div class="col-md-4 mt-3 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image2"
          [cardTitle]="title2"
          [cardDescription]="description2"
          [lastUpdated]="lastUpdated2"
        ></app-post-card>
      </div>
      <div class="col-md-4 mt-3 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image3"
          [cardTitle]="title3"
          [cardDescription]="description3"
          [lastUpdated]="lastUpdated3"
        ></app-post-card>
      </div>
      <div class="col-md-4 mt-3 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image4"
          [cardTitle]="title4"
          [cardDescription]="description4"
          [lastUpdated]="lastUpdated4"
        ></app-post-card>
      </div>
      <div class="col-md-4 mt-3 d-flex justify-content-center">
        <app-post-card
          [imageUrl]="image5"
          [cardTitle]="title5"
          [cardDescription]="description5"
          [lastUpdated]="lastUpdated5"
        ></app-post-card>
      </div>
    </div>
  </div>
</section>
