<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          Praesent vitae turpis in ante aliquam gravida fermentum at augue.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="col-md-12 text-center">
      <h2>Latest Posts</h2>
      <p>Suspendisse ultrices ligula non lorem convallis placerat.</p>
    </div>
    <div class="row">
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>
