<mat-toolbar>
  <mat-toolbar-row class="main-toolbar" >
    <a
      mat-button
      class="spacer"
      href="https://www.linkedin.com/in/hudson-viana/"
      target="_blank"
      >LinkedIn</a
    >    
    <span>•</span>
    <a
      mat-button
      class="spacer"
      href="https://github.com/hudson-viana"
      target="_blank"
      >Github</a
    >
  </mat-toolbar-row>
  <mat-toolbar-row class="secundary-toolbar">
    <span class="site-title">Movies Blog</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div class="container__menu-bar">
  <ul>
    <li><a href="https://linkedin.com/in/felipe-aguiar-exe">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/felipeAguiarCode">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ">Youtube</a></li>
  </ul>
</div> -->
