.mat-toolbar-row {
  display: flex;
  justify-content: center;    
}

.spacer {
  padding: 0 20px;
}

.main-toolbar {
  background-color: #3E5C76;
}

.secundary-toolbar {
  background-color: #1D2D44;
}

.site-title {
  font-size: 3rem;
}

/* 

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
}
 */
