@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
  --primary-color: #284B63;
  --secundary-color: #D9D9D9;
  --body-text-color: #353535;
  --navbar-footer-color: #353535;
  --navbar-header-color: #353535;
  --warning-color: rgb(255, 127, 7);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
}

.bg-theme {
  background-color: var(--primary-color);
}